<div class="max-w-[760px] mx-auto">
    <h1 class="font-header text-2xl font-medium mb-10 flex gap-2">
        <span class="text-[20px]">😇</span> 
        No idea what this is about!
    </h1>

    <div class="prose lg:prose-lg">
        <p>A place to put posts, words, links, images, etc etc.</p>

        <p><strong>Built with:</strong></p>
        <ul>
            <li>Statamic<sup>❤️</sup> w/ SSG</li>
            <li>Github Pages</li>
            <li>Tailwind w/ Typography</li>
        </ul>
    </div>
</div>