<div class="flex items-center gap-4 mt-4 mb-10">
  <img src="{{ glide src="/assets/hello.jpg" }}" class="w-16 h-auto rounded-full shadow-lg" />
  
  <div>
    <h1 class="text-[24px] font-bold">
      Howdy!
    </h1>
  
    <div class="prose leading-[1.5] max-w-[400px] text-balance">
      <p>My name is Taylor. Guy in East Texas. Build websites for work. Do other stuff.</p>
    </div>
  </div>
</div>

<div class="grid gap-2 md:grid-cols-8 md:gap-4">
  
  <section class="p-4 bg-white border md:col-start-4 md:col-span-5 md:row-start-1 md:row-span-2">
    <h2 class="flex items-center gap-3 text-[20px] font-bold mb-2"><span class="text-[14px]">📬</span> Posts</h2>
    <div class="space-y-2">
      {{ collection:posts as="posts" limit="10" sort="date:desc" }}
        {{ posts }}
          <div class="pb-3 border-b last:border-none">
            <a href="{{ url }}" class="hover:opacity-70 transition flex justify-start items-center gap-x-[15px]">
              <p class="font-mono text-xs text-gray-500 translate-y-[1px]">{{ date format="m.d.y" }}</p>
              <p>{{ title }}</p>
            </a>
          </div>
        {{ /posts }}
      {{ /collection:posts }}
    </div>
  </section>
  
  <section class="p-4 bg-white border md:col-span-3">
    <h2 class="flex items-center gap-3 text-[20px] font-bold mb-2"><span class="text-[14px]">🪴</span> Links</h2>
    <div class="prose">
      <ul>
        <li>
          <a class="flex items-center gap-2" href="https://open.spotify.com/artist/61zYNJrsWJAlPpYpUM7bgi?si=WDHIH8FbTECXj28-NCwKPQ" target="_blank">
            Winnower {{ svg src="assets/spotify" class="w-4 h-auto" }}
          </a>
        </li>
        <li>
          <a class="flex items-center gap-2" href="https://instagram.com/taylorjcammack" target="_blank">
            @taylorjcammack {{ svg src="assets/instagram" class="w-4 h-auto" }}
          </a>
        </li>
        <li>
          <a class="flex items-center gap-2" href="https://www.goodreads.com/user/show/82429079-taylor-cammack" target="_blank">
            Taylor Cammack <img src="{{ glide src="assets/goodreads.png" }}" class="w-4 h-auto my-0" alt="Goodreads"/>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="p-4 bg-white border md:col-span-3">
    <h2 class="flex items-center gap-3 text-[20px] font-bold mb-2"><span class="text-[14px]">📚</span> Books</h2>
    <div class="grid p-6 bg-[#f0e5cf] place-content-center">
      <a href="{{ link:119e325e-1672-42a9-b4cc-e0751afd947b }}">
        <img src="{{ glide src="assets/the-drowned-and-the-saved.jpg" }}" class="max-w-[125px] h-auto shadow-lg hover:scale-[1.05] transition">
      </a>
    </div>
  </section>

  <section class="p-4 bg-white border md:col-span-5">
    <h2 class="flex items-center gap-3 text-[20px] font-bold mb-2"><span class="text-[14px]">🧑‍🏫</span> New words/phrases</h2>
    <div class="prose">
      <ul>
        <li><strong>colloquy:</strong> a conversation; a gathering for discussion of theological questions.</li>
        <li><strong>bifidous:</strong> a genus of anaerobic bacteria, many of which are present natively in the human digestive system</li>
        <li><strong>"Gott mit uns"</strong>: "God with us" (German). <a href="https://en.wikipedia.org/wiki/Gott_mit_uns">Link 🔗</a></li>
        <li><strong>"Restitutio in pristinum"</strong>: Restoration of the individual (Latin)</li>
      </ul>
    </div>
  </section>

  <section class="p-4 bg-white border md:col-span-3">
    <h2 class="flex items-center gap-3 text-[20px] font-bold mb-2"><span class="text-[14px]">🧰</span> This Site</h2>
    <div class="prose">
      <ul>
        <li>Statamic<sup>❤️</sup> w/ SSG</li>
        <li>Github Pages</li>
        <li>Tailwind w/ Typography</li>
      </ul>
    </div>
  </section>



</div>
