<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ if template === 'home' }}
          <title>{{ site:name }}</title>
        {{ else }}
          <title>{{ title }} | {{ site:name }}</title>
        {{ /if }}
        <link rel="icon" href="{{ glide src="assets/hello.jpg" }}">
        <link rel="apple-touch-icon" href="{{ glide src="assets/hello.jpg" }}">
        
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    </head>
    <body class="p-6 bg-slate-100">
      <div class="max-w-[800px] mx-auto">
        {{ template_content }}
      </div>
    </body>
</html>
