<footer class="border-t fixed bottom-0 left-4 right-4 bg-violet-50 py-3 flex justify-between">
    <ul class="flex items-center gap-3">
        <li>
            <a class="flex items-center gap-2" href="https://open.spotify.com/artist/61zYNJrsWJAlPpYpUM7bgi?si=WDHIH8FbTECXj28-NCwKPQ" target="_blank">
                {{ svg src="assets/spotify" class="w-5 h-auto" }}
            </a>
        </li>
        <li>
            <a class="flex items-center gap-2" href="https://instagram.com/taylorjcammack" target="_blank">
                {{ svg src="assets/instagram" class="w-5 h-auto" }}
            </a>
        </li>
        <li>
            <a class="flex items-center gap-2" href="https://www.goodreads.com/user/show/82429079-taylor-cammack" target="_blank">
                <img src="{{ glide src="assets/goodreads.png" }}" class="w-5 h-auto my-0" alt="Goodreads"/>
            </a>
        </li>
    </ul>
    <p class="text-xs">Made with Statamic ❤️ </p>
</footer>