<header class="flex items-center justify-between gap-2 mb-6 md:mb-16 pr-4">
    <a href="/" class="flex items-center gap-2">
        <img src="{{ glide src="/assets/hello.jpg" }}" class="w-10 h-auto rounded-full shadow-lg border-2 border-violet-500" />
        
        <h1 class="text-[14px] text-white sr-only">
            {{ template == 'home' ? 'Taylor' : title }}
        </h1>
    </a>
    <div class="flex items-center gap-2 font-header *:hover:text-violet-700">
        <a href="/about">About</a>
    </div>
</header>