<div class="pb-4 -mt-2 md:pb-6 md:mt-0">
  <a href="/" class="transition hover:opacity-70">👈 <span class="inline-block pl-1 uppercase text-[14px] font-bold">Back</span></a>
</div>

<div class="p-6 pb-8 -mx-6 bg-white border lg:mx-0">

  <div>
    <p class="text-gray-400 text-[14px] uppercase font-medium">
      {{ date format="F j, Y"}}
    </p>
    <h1 class="text-[clamp(1.5rem,1.2857rem+1.1429vw,2rem)] font-medium">
      {{ title }}
    </h1>
  </div>
  
  <div class="mt-5">
    <div class="prose max-w-none">
      {{ content }}
        {{ partial src="builder/{type}" }}
      {{ /content }}
    </div>
  </div>

  {{ if tags }}
    <div class="pt-3 mt-8 border-t">
      <p class="font-bold text-gray-800 uppercase text-[13px] mb-2">
        🏷️ Tags
      </p>
      <div class="flex gap-2">
        {{ tags }}
          <p class="px-2 py-1 text-sm font-medium bg-[#fff2e2] border border-[#f7d0a0] rounded">{{ title }}</p>
        {{ /tags }}
      </div>
    </div>
  {{ /if }}
</div>