<div class="max-w-[760px] mx-auto mb-[150px] bg-white rounded-lg p-5 md:p-8">

  <div>
    <p class="text-offpink text-[14px] uppercase font-medium font-text">
      {{ date format="F j, Y"}}
    </p>
    <h1 class="font-header text-[clamp(1.5rem,1.2857rem+1.1429vw,2rem)] font-medium">
      {{ title }}
    </h1>
    {{ if tags }}
      <div class="flex flex-wrap justify-start gap-2 mt-2">
        {{ tags }}
          <p class="px-2 py-0.5 text-xs font-medium bg-paper text-offpink rounded whitespace-nowrap">
            {{ title }}
          </p>
        {{ /tags }}
      </div>
    {{ /if }}
  </div>
  
  <div class="mt-2">
    <div class="prose lg:prose-lg max-w-none">
      {{ content }}
        {{ partial src="builder/{type}" }}
      {{ /content }}
    </div>
  </div>

  <div class="mt-2 grid md:grid-cols-2 gap-2">
    {{ collection:previous in="posts" as="prev" limit="1" sort="date:asc" }}
      {{ if ! no_results }}
        <div class="grid px-3 py-3 lg:py-4">         
          {{ prev }}
            <a href="{{ url }}" class="flex items-center w-full gap-2">
              <span>👈</span>
              <p class="font-header">{{ title }}</p>
            </a>
          {{ /prev }}
        </div>
      {{ else }}
        <div></div>
      {{ /if }}
    {{ /collection:previous }}

    {{ collection:next in="posts" as="next" limit="1" sort="date:asc" }}
      {{ if !no_results }}
        <div class="flex flex-wrap px-4 py-3 lg:py-4">        
          {{ next }}
            <a href="{{ url }}" class="flex items-center justify-between w-full gap-2">
              <p class="font-header">{{ title }}</p>
              <span>👉</span>
            </a>
          {{ /next }}
        </div>
      {{ /if }}
    {{ /collection:next }}
  </div>
</div>
