@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: 'IBM Plex Sans', sans-serif;
}

.prose {
  h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  ul {
    li {
      margin-block: 0 !important;
    }
  }
}

/* This is all you. */
