@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: 'IBM Plex Sans', sans-serif;
}

.prose {
  h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  blockquote {
    border-left: 0;
    background-color: #fffbeb;
    font-weight: 400;
    color: #451a03;
    padding-block: 1px;
    padding-inline: 30px;
    font-style: normal;
    position: relative;
    margin-block: 35px;

    &:before {
      content: '📖';
      position: absolute;
      left: -6px;
      top: -6px;
      font-size: 24px;
      height: 32px;
      width: 32px;
      background-color: #facd14;
      display: grid;
      place-content: center;
      border-radius: 99999px;
    }
    
    p {
      font-size: 1rem;
      font-family: 'IBM Plex Serif';

    }
  }

  ul {
    li {
      margin-block: 0 !important;
    }
  }

  a {
    font-weight: 400;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}
